/test/
*.jpg
*.png
/project/
/My_project/
*.zip
*.rar
*.7z
*.exe
*.s
/visual studio/*
!visual studio/test
/visual studio/test/*
!visual studio/test/test.c
!visual studio/test/test.cpp
/2022/Codeblocks_10/
/2022/Dev/

